* {
	border: none;
	outline: none;
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: "Rubik", sans-serif;
}

html {
	scroll-behavior: smooth;
}

:root {
	--main: hsl(21, 90.2%, 48.2%);
	--gray: hsl(210, 40%, 98%);
}

body {
	background: var(--gray);
}

header {
	display: flex;
	justify-content: space-between;
	align-items: center;
	flex-direction: row;
	text-align: center;
	padding: 12px 16px;
	max-width: 700px;
	margin-inline: auto;
}

header h1 {
	font-size: 1.5em;
	color: var(--main);
}

header button {
	background: inherit;
	font-size: 1.5em;
}

.music-container {
	/*height: 90vh;*/
	max-width: 700px;
	margin-inline: auto;
	/*display: flex;
	justify-content: space-between;
	align-items: center;
	flex-direction: column;*/
	display: grid;
	grid-template-rows: 6fr auto auto;
	place-items: center;
	text-align: center;
}

.music-container .songname {
	width: 100%;
	height: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	text-align: center;
	gap: 20px;
}

.music-container .songname .cover {
	display: block;
	width: 90%;
	height: 80%;
	object-fit: cover;
}

.music-container .songname .title {
	font-size: 2em;
	padding-inline: 24px;
	color: var(--main);
}

.music-container .buttons {
	display: flex;
	justify-content: space-between;
	align-items: center;
	flex-direction: row;
	text-align: center;
	width: 100%;
	padding: 12px 20px;
}

.music-container .buttons button {
	padding: 12px 20px;
	font-size: 1.8em;
	border-radius: 8px;
	background: var(--main);
	color: var(--gray);
}

.progress-container {
	width: calc(100% - 2em);
	height: 12px;
	background: #ccc;
	margin-block: 20px;
	border-radius: 5px;
}

.progress-container .progress {
	width: 0%;
	height: inherit;
	border-radius: inherit;
	background: var(--main);
}
